Импорт и инициализация SparkContext

In [1]:
from pyspark import SparkContext, SQLContext
sc = SparkContext()
sqlContext = SQLContext(sc)

Создание rdd

In [5]:
rdd_1 = sc.parallelize(xrange(100))

Посмотреть первый элемент

In [6]:
rdd_1.first()

0

Посмотреть n первых элементов

In [7]:
rdd_1.take(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Получить весь rdd

In [8]:
rdd_1.collect()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

map()

In [10]:
(rdd_1
    .map(lambda x: x*2)
    .collect())

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198]

filter()

In [17]:
rdd_2 = (rdd_1
    .map(lambda x: x/2)
    .filter(lambda x: x%2 == 0))

In [18]:
rdd_2.take(10)

[0, 0, 2, 2, 4, 4, 6, 6, 8, 8]

distinct()

In [24]:
(rdd_2
    .distinct()
    .take(10))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Подсчет элементов в rdd

In [116]:
rdd_2.count()

50

n максимальных значений в rdd

In [20]:
rdd_2.top(5)

[48, 48, 46, 46, 44]

n минимальных значений в rdd

In [21]:
rdd_2.takeOrdered(3)

[0, 0, 2]

reduce()

In [22]:
rdd_1.reduce(lambda a, b: a+b)

4950

fold()

In [31]:
rdd_1.fold(100, lambda a,b: a + b)

5250

In [28]:
rdd_1.getNumPartitions()

2

countByBalue()

In [33]:
rdd_2.countByValue()

defaultdict(int,
            {0: 2,
             2: 2,
             4: 2,
             6: 2,
             8: 2,
             10: 2,
             12: 2,
             14: 2,
             16: 2,
             18: 2,
             20: 2,
             22: 2,
             24: 2,
             26: 2,
             28: 2,
             30: 2,
             32: 2,
             34: 2,
             36: 2,
             38: 2,
             40: 2,
             42: 2,
             44: 2,
             46: 2,
             48: 2})

countByKey()

In [44]:
rdd_key_value = (rdd_1
    .map(lambda x: ((x/4)**3,x)))

rdd_key_value.take(10)

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (8, 8),
 (8, 9)]

In [45]:
rdd_key_value.countByKey()

defaultdict(int,
            {0: 4,
             1: 4,
             8: 4,
             27: 4,
             64: 4,
             125: 4,
             216: 4,
             343: 4,
             512: 4,
             729: 4,
             1000: 4,
             1331: 4,
             1728: 4,
             2197: 4,
             2744: 4,
             3375: 4,
             4096: 4,
             4913: 4,
             5832: 4,
             6859: 4,
             8000: 4,
             9261: 4,
             10648: 4,
             12167: 4,
             13824: 4})

flatMap()

In [42]:
(rdd_1
    .flatMap(lambda x: (x, (x/4)**3))
    .take(10))

[0, 0, 1, 0, 2, 0, 3, 0, 4, 1]

groupByKey()

In [50]:
rdd_3 = sc.parallelize([("a", 10), ("b",20), ("b", 10)])
rdd_3.take(5)

[('a', 10), ('b', 20), ('b', 10)]

In [57]:
(rdd_3
    .groupByKey()
    .mapValues(lambda x: sum(x))
    .collect())

[('a', 10), ('b', 30)]

reduceByKey()

In [54]:
from operator import add
(rdd_3
    .reduceByKey(add)
    .take(5))

[('a', 10), ('b', 30)]

read txt

In [68]:
rdd_txt = sc.textFile("../../data/Sherlock.txt")

In [69]:
rdd_txt.take(20)

[u'',
 u'',
 u'',
 u'',
 u'                        THE ADVENTURES OF SHERLOCK HOLMES',
 u'',
 u'                               Arthur Conan Doyle',
 u'',
 u'',
 u'',
 u'                                Table of contents',
 u'',
 u'               A Scandal in Bohemia',
 u'               The Red-Headed League',
 u'               A Case of Identity',
 u'               The Boscombe Valley Mystery',
 u'               The Five Orange Pips',
 u'               The Man with the Twisted Lip',
 u'               The Adventure of the Blue Carbuncle',
 u'               The Adventure of the Speckled Band']

WordCount

In [71]:
(rdd_txt
    .flatMap(lambda x: x.strip().split())
    .map(lambda x: (x.lower(), 1))
    .reduceByKey(add)
    .take(10))

[(u'shouted,', 4),
 (u'shouted.', 1),
 (u'foul', 5),
 (u'four', 27),
 (u'worn,"', 1),
 (u"friend's", 10),
 (u'granting', 1),
 (u'"nothing?"', 2),
 (u'"hum!', 3),
 (u'interesting!"', 1)]

cache

In [72]:
rdd_cache = (rdd_txt
    .flatMap(lambda x: x.strip().split())
    .persist())

In [81]:
(rdd_cache
    .map(lambda x: (x.lower(), 1))
    .reduceByKey(add)
    .take(10))

[(u'shouted,', 4),
 (u'shouted.', 1),
 (u'foul', 5),
 (u'four', 27),
 (u'worn,"', 1),
 (u"friend's", 10),
 (u'granting', 1),
 (u'"nothing?"', 2),
 (u'"hum!', 3),
 (u'interesting!"', 1)]

In [75]:
(rdd_cache
    .count())

104527

In [77]:
(rdd_cache
#     .map(lambda x: x.lower())
    .distinct()
    .count())

14654

In [83]:
rdd_3.collect()

[('a', 10), ('b', 20), ('b', 10)]

#### broadcast

In [84]:
very_important_dic = {"a": 12, "b": 23, "c":34}

In [115]:
vid_br = sc.broadcast(very_important_dic)

In [86]:
vid_br.value

{'a': 12, 'b': 23, 'c': 34}

In [91]:
(rdd_3
    .map(lambda x: very_important_dic[x[0]])
    .collect())

[12, 23, 23]

In [92]:
(rdd_3
    .map(lambda x: vid_br.value[x[0]])
    .collect())

[12, 23, 23]

#### accumulator

In [109]:
acc_1 = sc.accumulator(0)

In [110]:
rdd_3.map(lambda x: acc_1.add(x[1]))

PythonRDD[148] at RDD at PythonRDD.scala:43

In [111]:
acc_1

Accumulator<id=3, value=0>

In [112]:
rdd_3.foreach(lambda x: acc_1.add(x[1]))

In [113]:
acc_1

Accumulator<id=3, value=40>