Импорт и инициализация SparkContext

In [1]:
from pyspark import SparkContext, SQLContext
sc = SparkContext()
sqlContext = SQLContext(sc)

Считать документ "../../data/alice.txt" в RDD alice

In [4]:
alice =

Отобразить 10 строк из файла

In [5]:
alice

[u"ALICE'S ADVENTURES IN WONDERLAND",
 u'',
 u'Lewis Carroll',
 u'',
 u'THE MILLENNIUM FULCRUM EDITION 3.0',
 u'',
 u'',
 u'',
 u'',
 u'CHAPTER I. Down the Rabbit-Hole']

Используя функцию removePunctuation удалить лишние символы из строк в RDD alice и присвоить значение новому RDD alice_2. Отобразить 10 элементов RDD.

In [19]:
import re
def removePunctuation(line):
    return re.sub('[^a-zA-Z 0-9]','',line.lower().strip())

alice_2 = (alice
    )

alice_2

[u'alices adventures in wonderland',
 u'',
 u'lewis carroll',
 u'',
 u'the millennium fulcrum edition 30',
 u'',
 u'',
 u'',
 u'',
 u'chapter i down the rabbithole']

Разделить строки на слова и преобразовать их в tuple (слово, 1)  и присвоить значение новому RDD alice_3. Отобразить 10 элементов RDD.

In [23]:
alice_3 = (alice_2
    )

alice_3

[(u'alices', 1),
 (u'adventures', 1),
 (u'in', 1),
 (u'wonderland', 1),
 (u'lewis', 1),
 (u'carroll', 1),
 (u'the', 1),
 (u'millennium', 1),
 (u'fulcrum', 1),
 (u'edition', 1)]

Найти количество встречаний каждого слова  и присвоить значение новому RDD alice_4. Отобразить 10 элементов RDD.

In [27]:
from operator import add

alice_4 = (alice_3
    )
alice_4

[(u'pardon', 6),
 (u'four', 6),
 (u'sleep', 6),
 (u'ringlets', 2),
 (u'hate', 1),
 (u'treading', 2),
 (u'lory', 7),
 (u'paris', 2),
 (u'presents', 2),
 (u'yetits', 1)]

Используя функции map и sortByKey развернуть tuple в (count, word) и упорядочить их в порядке уменьшения ключа  и присвоить значение новому RDD alice_5. Отобразить 10 элементов RDD.

In [37]:
alice_5 = (alice_4
    )
alice_5

[(1631, u'the'),
 (844, u'and'),
 (721, u'to'),
 (627, u'a'),
 (537, u'she'),
 (526, u'it'),
 (508, u'of'),
 (462, u'said'),
 (400, u'i'),
 (385, u'alice')]

Отобразить только те слова, которые встретились в документе ровно 20 раз.

In [62]:
(alice_5
    )

[(20, u'sort'), (20, u'cried'), (20, u'however'), (20, u'hand')]

Подсчитать количество уникальных слов в докум

2756

Найти самое длинное слово в документе из RDD alice_2 и используя функции flatMap, map, distinct, max

In [60]:
(alice_2

)

(u'importantunimportantunimportantimportant', 40)